# Local .terraform directories
**/.terraform/*

# .tfstate files
*/.tfstate
*/.tfstate.*
*/.terraform.tfstate.backup

.DS_Store

# .terrform.lock
*.terraform.lock.hcl

# exclude all .tfvars files 
*.tfvars


