# Compiled files
*.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars

# Ignore Mac .DS_Store files
.DS_Store

# Ignore Terraform files 
*gitignore*.tf

# Directories 
.vm-instance/
.scripts/

